<div class="container-xl form-box">
  <% content_for :title, "Thread for" %>

  <h1>Thread in <%= @comment.commentable.name %> by <%= @comment.user.name %> <%= @comment.user.last_name %></h1>

  <%= link_to "✏️ Reply in thread",
                      new_comment_path(commentable_id: @comment, commentable_type: "Comment"),
                      method: :post,
                      class:"btn btn-outline-primary" %>
  <%= link_to "⬅️ Back to Event",
                      event_path(@comment.commentable),
                      method: :post,
                      class:"btn btn-outline-primary" %>

  <div class="d-flex flex-column align-items-center mx-2 box my-2">
    <p>
      <%= "⭐️" * @comment.rating %>
    </p>
    <p>
      <%= @comment.review %>
    </p>
    <p>
      At <%= @comment.created_at %>
    </p>
  </div>

  <div class="d-flex flex-column align-items-center mx-2 box">
    <h4>Replies</h4>
    <% Comment.replies(@comment.id).each do |reply| %>
      <div class="d-flex flex-column align-items-center mx-2 box">
        <p class="badge rounded-pill text-bg-secondary mx-2 px-2">
          <%= reply.created_at %>
        </p>
        <p>
          <%= "⭐️" * reply.rating %>
        </p>
        <p>
          <%= reply.review %>
        </p>
        <p>
          At <%= reply.created_at %>
        </p>
        <p>
          by <%= @comment.user.name %> <%= @comment.user.last_name %>
        </p>
      </div>
    <% end %>
</div>